:host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }


  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: auto 200px 600px 300px auto;
    grid-template-rows: 60px 100px 50% auto 40px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: rgb(231, 231, 221);

    grid-template-areas: 
        "header header header header header"
        ". logo title title ."
        ". sidebar main main ."
        ". . . . ."
        "footer footer footer footer footer"
}

.item-header{
    grid-area: header;
    background-color: greenyellow;
}

.item-sidebar{
    grid-area: sidebar;

}

.item-title{
    grid-area: title;
    background-color: firebrick;
}

.item-main{
    grid-area: main;
    background-color: green;
}

.item-footer{
    grid-area: footer;
    background-color: indigo;
}

.item-logo{
    grid-area: logo;
}