<button mat-raised-button color="primary" class="sideButton" [routerLink]="['/home']">Home</button>
<button mat-raised-button color="primary" class="sideButton" [routerLink]="['/search']">Search</button>
<button mat-raised-button color="primary" class="sideButton" [routerLink]="['/reco']">Reco</button>
<button mat-raised-button color="primary" class="sideButton" [routerLink]="['/top']">TOP</button>
<button mat-raised-button color="primary" class="sideButton" [routerLink]="['/login']">Login</button>
