<div class="container">
  <div class="item-header"></div> 
  <div class="item-title"><h2>Recommendations</h2></div>
  <div class="item-logo">
    <app-logo></app-logo>
  </div>
  <div class="item-sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="item-main">

    <mat-card><h2>Watched movies</h2> <a [routerLink]="['/adding']" class="btn btn-link">Want add new movie?</a></mat-card>
    <app-moviesreco [movies] = "movies"></app-moviesreco>
    
    
  </div>
  <div class="item-footer">MovieWeb 2.0 v1.0 CopyRight Aleksander Giera</div>
</div>