<div class="container">
    <div class="item-header">header</div> 
    <div class="item-title">title</div>
    <div class="item-logo">
      <app-logo></app-logo>
    </div>
    <div class="item-sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="item-main">main


      <h1> HOME SCREEN</h1>

      <h1>Random Movies</h1>
      <ul style="list-style-type:none">
        <li *ngFor="let movie of movies">
            <app-movie-detail [movie] = "movie"></app-movie-detail>
        </li>
    </ul>
    </div>
    <div class="item-footer">footer</div>
  </div>